<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <!-- Specify the time range (in hours) of data to be shown in Experience Profile. 
           Default value: 24 hrs -->
      <setting name="ExperienceProfile.ResultsPeriodInHours" value="24"/>
    </settings>
    <pipelines>
   <group groupName="ExperienceProfileAggregateViews">
      <pipelines>
        <latest-visitors>
          <processor type="Sitecore.Cintel.Reporting.Aggregate.Visitors.Processors.QueryLatestVisitorsFromSearch, Sitecore.Cintel">
            <patch:attribute name="type">Sitecore.Support.Cintel.Reporting.Aggregate.Visitors.Processors.QueryLatestVisitorsFromSearch, Sitecore.Support.313752</patch:attribute>
          </processor>
        </latest-visitors>
      </pipelines>
    </group>
    </pipelines>
  </sitecore>
</configuration>